.App {
  text-align: center;
  background-image: url('https://www.pngkit.com/png/full/699-6997618_feuille-arbre-png.png');
  background-position: center;
  background-size: 100%;
}

#trizzerName {
  justify-content: center;
}

